<div class='card'>
    <div class='card-header'>
        Basket
    </div>

    <div class='card-body'>

        <div class='table-responsive'>
          <table class='table' *ngIf='basketItemResponse && basketItemResponse.basketItems && basketItemResponse.basketItems.length'>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Remove from basket</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let basketItem of basketItemResponse.basketItems'>

                <td>
                    {{ basketItem.name }}
                </td>

                <td>
                    {{ basketItem.quantity }}
                </td>

                <td>{{ basketItem.price | currency:'EUR':'symbol':'1.2-2' }}</td>
                <td>
                  <a [routerLink]="" [clickedBasketItemId]="basketItem.id" (click)="onAnchorClicked(basketItem.id)">Remove from Basket</a> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button type="submit" (click)="onBasketCheckoutClicked()">Checkout</button>

      </div>

</div>