<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li *ngIf="!isAuthenticated"><a class='nav-link' routerLinkActive='active' [routerLink]="['/login']">Login</a></li>
    <li *ngIf="isAuthenticated"><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']" (click)="logout()">Logout</a></li>
    <li *ngIf="!isAuthenticated"><a class='nav-link' routerLinkActive='active' [routerLink]="['/register']">Register</a></li>
    <li *ngIf="isAuthenticated"><a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Product List</a></li>
    <li *ngIf="isAdmin"><a class='nav-link' routerLinkActive='active' [routerLink]="['/addproduct']">Add Products</a></li>
    <li *ngIf="isCustomer"><a class='nav-link' routerLinkActive='active' [routerLink]="['/basket']">Basket</a></li>
    <li *ngIf="isAdmin"><a class='nav-link' routerLinkActive='active' [routerLink]="['/orders']">Orders</a></li>
    <li *ngIf="isCustomer"><a class='nav-link' routerLinkActive='active' [routerLink]="['/myorders']">My Orders</a></li>
  </ul>
</nav>
<div class='container'>
<router-outlet></router-outlet>
</div>