<div class='card'>
    <div class='card-header'>
        Product List
    </div>

    <div class='card-body'>
        <div class='table-responsive'>
          <table class='table'
                 *ngIf='products && products.length'>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th *ngIf="isCustomer">Add to basket</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let product of filteredProducts'>
                <td>
                    {{ product.name }}
                </td>
                <td>{{ product.price | currency:'EUR':'symbol':'1.2-2' }}</td>
                <td *ngIf="isCustomer">
                  <a [routerLink]="" [clickedProductId]="product.id" (click)="onAnchorClicked(product.id)">Add to Basket</a> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

</div>